{% extends 'base.html' %}
{% block title %}
<title>Home</title>
{% endblock %}
{% block content %}
<h1>Local Library Home</h1>

<p>Welcome to <em>LocalLibrary</em>, a very basic django website developed  as a tutorial</p>
<h2>Dynamic content</h2>
<p>The library has the following content</p>
<ul>
    <li><strong>Number of visits</strong>{{ num_visits }}</li>
    <li><strong>Books:</strong>{{ num_books }}</li>
    <li><strong>Authors:</strong>{{ num_authors }}</li>
    <li><strong>Copies:</strong>{{ num_instances }}</li>
    <li><strong>Copies Available:</strong>{{ num_instances_available }}</li>
    <li><strong>Genres:</strong>{{ num_genres }}</li>
    <li><strong>Books(with <em>program</em>):</strong>{{ num_programming_books }}</li>
    <li><strong>Session Keys</strong>{{ session_keys }}</li>
</ul>

{% endblock %}